venu_ud/pipeline/L17 and 18.json
{
	"name": "L17 and 18",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[empdata]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "emptable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[efn].[startlog]",
						"storedProcedureParameters": {
							"pl_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"run_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('startingpipeline')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "emptable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipelineendlogs]",
					"storedProcedureParameters": {
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('end_success_status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipelineendlogs]",
					"storedProcedureParameters": {
						"errormessage": {
							"value": {
								"value": "@activity('Lookup').output.Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('end_fail_status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"startingpipeline": {
				"type": "String",
				"defaultValue": "started"
			},
			"end_success_status": {
				"type": "String",
				"defaultValue": "success"
			},
			"end_fail_status": {
				"type": "String",
				"defaultValue": "failed"
			}
		},
		"folder": {
			"name": "edf"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-07T09:59:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}